{% extends "base.html" %}
    {% block content %}
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                    {% load static %} 
                    <img src="{% static 'images/logo.png' %}" style="width: 200px; border-radius: 12px;" class=" mx-auto d-block" alt="Logo!" /><br>
                  <h5 class="card-title text-center">Sign In</h5>
                  <form class="form-signin" method="POST">
                    {% csrf_token %}
                    <div class="form-label-group">
                      <input type="text" id="inputEmail" name="input_username" class="form-control" placeholder="Email address or username" required autofocus>
                      <label for="inputEmail">Email address or username</label>
                    </div>
      
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" name="input_password" class="form-control" placeholder="Password" required>
                      <label for="inputPassword">Password</label>
                    </div>
      
                    <div class="custom-control custom-checkbox mb-3">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">Remember password</label>
                    </div>
                    <button class="btn btn-danger btn-lg btn-primary btn-block text-uppercase btn-signin" type="submit">Sign in</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}
