{% block authentication %}
            <form class="form-inline my-2 my-lg-0 col-9">
              <input class="form-control mr-sm-2" name="srh" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
            </form>
          </form>
            <h1 style="margin-left: 150px;">Search Results:</h1>
            <div class="viewproduct">
                {% for post in posts %}
                <div class="card" style="width: 18rem; margin: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
            
                        <p class="card-text"><b>{{post.content}}</b></b>
                        </p>
                        <a href="" class="btn btn-dark">View details</a>
                    </div>
                </div>
                {% empty %} <p>There are no such products available.</p>
                
            
                Your search - <b> {{query}} </b>- did not match any documents.
            
                 Suggestions:
                  <ul>
                    <li>Make sure that all words are spelled correctly.</li>
                    <li> Try different keywords.</li>
                    <li> Try more general keywords.</li>
                  </ul>
                {% endfor %}
            </div>
            {% endblock %}
