.dropdown ul.dropdown-menu {
    border-radius:8px;
    width:300px;
    height:350px;
    margin-top: 10px;
}

ul.dropdown-menu img{
    margin-top:15px;
}

.ddname{
    margin-top:20px;
    font-size: 20px;
}

.ddemail{
    margin-top:-10px;
    color:grey;
    font-size: 14px;
    margin-bottom: 10px;
}
